@media screen and (max-width: 767px) {
  .content {
    padding-top: 50px;
  }
}

#searchfield > button{
  float: right;
}

#searchfield > input{
  width: calc(100% - 50px);
}

.currentinfo-top {
  font-weight: bold;
  font-size: 15px;
}
