.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    z-index: -1;
}

.navbar-brand .brand-inner {
    width: 600px;
    text-align: center;
    margin: auto;
}
