.visible-portrait-xs {
  display: none;
}

@media screen and (max-width: 767px) and (orientation:portrait) {
  .content {
    padding-top: 50px;
  }
  .visible-portrait-xs {
    display: block;
  }
}

#searchfield > button{
  float: right;
}

#searchfield > input{
  width: calc(100% - 50px);
}

.currentinfo-top {
  font-weight: bold;
  font-size: 15px;
}

.playicon-wrapper {
  width: 16px;
  padding-left: 4px;
}

#coverimg {
  max-width: 100%;
}
